.my-page {
  display: flex;
}

.my-page-header {
  margin: 0 auto;
  width: 750px;
  .follow_btn {
    display: none;
    &.active {
      display: inline-block;
    }
  }
}

.my-page-post {
  width: 750px;
  margin: 0 auto;
  .post-content {
    float: left;
    width: 32%;
    margin: 5px;
    img {
      width: 100%;
    }
  }
}
