div.header {
  border-bottom: 1px solid black;
  display: flex;
}

div.logo {
  flex: 0 0 auto;
  width: 20%;
}

div.search {
  flex: 0 0 auto;
  width: 60%;
}

div.profile {
  flex: 0 0 auto;
  width: 20%;
}
