<html>
  {% load static %}
  {% load sass_tags %}

  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}"/>
    <link href="{% sass_src 'css/main.scss' %}" rel="stylesheet" type="text/css"/>
    {% block header %}
      <!-- header 삽입 부분 -->
    {% endblock %}
  </head>

  <body>
    {% block contents %}
      <!-- body 삽입 부분 -->
    {% endblock %}
    {% if messages %}
      {% for message in messages %}
        {% if message.tags %}
          <script>
            alert("{{ message.message }}");
          </script>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% block scripts %}
      <!-- script 삽입 부분 -->
    {% endblock %}
  </body>

</html>
