{% extends 'post/post_base.html' %}

{% block contents2 %}
  <div class="post-list">
    {% if post_list %}
      {% for post in post_list %}
        <div class="post">
          <div class="profile">
            <a href="{{post.writer.get_absolute_url}}">{{post.writer}}</a>
          </div>
          <div>
          <div>
          {% for photo in post.photo_set.all %}
                    <li class="item">
                      <img src="{{photo.image.url}}"/>
                    </li>
                  {% endfor %}
          </div>
            {% comment %} <div class="wrapper">
              <div class="container">
                <ul class="slider">
                  {% for photo in post.photo_set.all %}
                    <li class="item">
                      <img src="{{photo.image.url}}"/>
                    </li>
                  {% endfor %}
                </ul>
                <!--controls-->
                <div class="btn">
                  <a class="prev" style="text-decoration: none;">&#10094;</a>
                  <a class="next" style="text-decoration: none;">&#10095;</a>
                </div>
                <!--controls-->
              </div>
            </div> {% endcomment %}
          </div>
          <div id="like">
            <a href="{% url 'post-like' post.id %}">
              <div class="btn_like {% if user not in post.like.all %} active {% endif %}">좋아요!</div>
              <div class="btn_like {% if user in post.like.all %} active {% endif %}">좋아요 취소!</div>
            </a>
            {% if post.like.all.count == 0 %}
              <span></span>
            {% elif post.like.all.count >= 5 %}
              <span>{{ post.like.all.count }}
                명이 좋아합니다.</span>
            {% else %}
              {% for likeuser in post.like.all %}
                {{likeuser}}
              {% endfor %}
              님이 좋아합니다.
            {% endif %}
          </div>
          <a href="{{ post.get_absolute_url }}">
            <div class="writer">{{ post.writer }}</div>
            <div class="content">{{ post.text }}</div>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>아직 등록된 게시글이 없습니다.</p>
    {% endif %}
  </div>
{% endblock %}