{% extends 'post/post_base.html' %}

{% block contents2 %}
<form action="" id="upload" method="POST" enctype="multipart/form-data" novalidate>
    {% csrf_token %}
    <div class="form-group">
        <input type="file" name="imgs" multiple>
    </div>
    {% for field in form %}
        <div class="form-group">
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}" placeholder="{{ field.label }}" name="{{ field.name }}">            
        </div>
        {% if field.errors %}
            <span>{{ field.errors }}</span>
        {% endif %}
    {% endfor %}
    <input type="submit" value="post">
</form>
{% endblock %}