{% extends 'post/post_base.html' %}

{% block contents2 %}
  <div>
    profile<br>
    {{profile_user.get_username}}<br>
    following / followed<br>
    follow!<br>
    {% if mypage %}
      <a href="{% url 'profile-update' %}">edit profile</a><br>
      <a href="">edit password</a>
    {% endif %}
  </div>
  <div class="post-content">
    {% if post_list %}
      {% for post in post_list %}
        <div class="post">
          <a href="{{ post.get_absolute_url }}">
            <p>{{ post.writer }}</p>
            <p>{{ post.text }}</p>
          </a>
        </div>
      {% endfor %}
    {% else %}
      <p>아직 등록된 게시글이 없습니다.</p>
    {% endif %}
  </div>
{% endblock %}