{% extends 'post/post_base.html' %}

{% block contents2 %}
  <div class="my-page">
    <div class="my-page-header">
      profile<br>
      {{profile_user.get_username}}<br>
      following
      {{ profile_user.following.all.count }}
      / followed
      {{ profile_user.followed.all.count }}<br>
      {% if mypage %}
        <a href="{% url 'profile-update' %}">edit profile</a><br>
        <a href="">edit password</a>
      {% else %}
        <a href="{% url 'user-follow' profile_user.username %}">
          <div class="follow_btn {% if user not in profile_user.followed.all %} active {% endif %}">팔로우!</div>
          <div class="follow_btn {% if user in profile_user.followed.all %} active {% endif %}">팔로우 취소!</div>
        </a>
      {% endif %}
      <div class="my-page-post">
        {% if post_list %}
          {% for post in post_list %}
            <div class="post-content">
              <a href="{{ post.get_absolute_url }}">
                {% for photo in post.photo_set.all %}
                  {% if forloop.counter == 1 %}
                    <img src="{{photo.image.url}}"/>
                  {% endif %}
                {% endfor %}
              </a>
            </div>
          {% endfor %}
        {% else %}
          <p>아직 등록된 게시글이 없습니다.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
